.desktop {
    background-color: #191919;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #191919;
    height: 2179px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .desktop .overlap {
    background-color: #191919;
    box-shadow: 0px 13px 7px #00000040;
    height: 102px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .desktop .frame {
    align-items: flex-start;
    display: inline-flex;
    left: 22px;
    position: absolute;
    top: 16px;
  }
  
  .desktop .new-logo {
    height: 69.01px;
    position: relative;
    width: 68px;
  }
  
  .desktop .group {
    height: 70.41px;
    position: relative;
    width: 271px;
  }
  
  .desktop .overlap-group {
    height: 70px;
    position: relative;
  }
  
  .desktop .image {
    height: 70px;
    left: 38px;
    position: absolute;
    top: 0;
    width: 233px;
  }
  
  .desktop .img {
    height: 40px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 17px;
    width: 39px;
  }
  
  .desktop .navbar {
    align-items: flex-start;
    display: inline-flex;
    gap: 14px;
    left: 381px;
    position: absolute;
    top: 45px;
  }
  
  .desktop .text-wrapper {
    color: #acacac;
    font-family: "Inter-Regular", Helvetica;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 65px;
  }
  
  .desktop .text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 107px;
  }
  
  .desktop .text-wrapper-3 {
    color: #acacac;
    font-family: "Inter-Regular", Helvetica;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 50px;
  }
  
  .desktop .text-wrapper-4 {
    color: #acacac;
    font-family: "Inter-Regular", Helvetica;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 94px;
  }
  
  .desktop .text-wrapper-5 {
    color: #acacac;
    font-family: "Inter-Regular", Helvetica;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 107px;
  }
  
  .desktop .overlap-wrapper {
    height: 43px;
    left: 1017px;
    position: absolute;
    top: 34px;
    width: 84px;
  }
  
  .desktop .div-wrapper {
    background-color: #3eb489;
    border-radius: 5px;
    height: 43px;
    position: relative;
    width: 82px;
  }
  
  .desktop .text-wrapper-6 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 13px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 11px;
    width: 64px;
  }
  
  .desktop .frame-2 {
    align-items: center;
    border: 1px solid;
    border-color: #8b8b8b;
    border-radius: 5px;
    display: inline-flex;
    gap: 7px;
    justify-content: center;
    left: 1124px;
    overflow: hidden;
    padding: 11px 9px;
    position: absolute;
    top: 34px;
  }
  
  .desktop .vector {
    height: 17px;
    position: relative;
    width: 21px;
  }
  
  .desktop .text-wrapper-7 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 19px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 143px;
  }
  
  .desktop .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 1338px;
    position: absolute;
    top: 34px;
  }
  
  .desktop .rectangle {
    border: 1px solid;
    border-color: #8b8b8b;
    border-radius: 5px;
    height: 43px;
    position: relative;
    width: 73px;
  }
  
  .desktop .line {
    height: 26px;
    left: 40px;
    object-fit: cover;
    position: absolute;
    top: 9px;
    width: 1px;
  }
  
  .desktop .group-2 {
    height: 20px;
    left: 51px;
    position: absolute;
    top: 11px;
    width: 5px;
  }
  
  .desktop .ellipse {
    background-color: #d9d9d9;
    border-radius: 2.5px;
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
  }
  
  .desktop .ellipse-2 {
    background-color: #d9d9d9;
    border-radius: 2.5px;
    height: 5px;
    left: 0;
    position: absolute;
    top: 8px;
    width: 5px;
  }
  
  .desktop .ellipse-3 {
    background-color: #d9d9d9;
    border-radius: 2.5px;
    height: 5px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 5px;
  }
  
  .desktop .ellipse-4 {
    height: 21px;
    left: 9px;
    object-fit: cover;
    position: absolute;
    top: 10px;
    width: 21px;
  }
  
  .desktop .frame-4 {
    align-items: flex-start;
    display: inline-flex;
    left: 557px;
    position: absolute;
    top: 1843px;
  }
  
  .desktop .line-2 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 1807px;
    width: 1440px;
  }
  
  .desktop .frame-5 {
    align-items: center;
    display: inline-flex;
    gap: 82px;
    left: 453px;
    position: absolute;
    top: 1958px;
  }
  
  .desktop .image-2 {
    height: 32.86px;
    object-fit: cover;
    position: relative;
    width: 40px;
  }
  
  .desktop .image-3 {
    height: 44px;
    object-fit: cover;
    position: relative;
    width: 44px;
  }
  
  .desktop .image-4 {
    height: 46px;
    object-fit: cover;
    position: relative;
    width: 46px;
  }
  
  .desktop .image-5 {
    height: 55px;
    object-fit: cover;
    position: relative;
    width: 55px;
  }
  
  .desktop .image-6 {
    height: 39.38px;
    object-fit: cover;
    position: relative;
    width: 35px;
  }
  
  .desktop .frame-6 {
    align-items: flex-start;
    display: inline-flex;
    gap: 215px;
    left: 188px;
    position: absolute;
    top: 2084px;
  }
  
  .desktop .text-wrapper-8 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-decoration: underline;
    width: 292px;
  }
  
  .desktop .text-wrapper-9 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-decoration: underline;
    width: 204px;
  }
  
  .desktop .text-wrapper-10 {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-decoration: underline;
    width: 135px;
  }
  
  .desktop .overlap-2 {
    height: 802px;
    left: 52px;
    position: absolute;
    top: 936px;
    width: 1561px;
  }
  
  .desktop .rectangle-2 {
    border: 1px solid;
    border-color: #8b8b8b;
    border-radius: 6px;
    height: 375px;
    left: 10px;
    position: absolute;
    top: 427px;
    width: 1364px;
  }
  
  .desktop .overlap-group-wrapper {
    height: 43px;
    left: 79px;
    position: absolute;
    top: 718px;
    width: 82px;
  }
  
  .desktop .overlap-3 {
    background-color: #3eb489;
    border-radius: 5px;
    height: 43px;
    position: relative;
    width: 80px;
  }
  
  .desktop .text-wrapper-11 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 7px;
    width: 62px;
  }
  
  .desktop .frame-7 {
    border: 1px solid;
    border-color: #8b8b8b;
    border-radius: 5px;
    height: 45px;
    left: 184px;
    overflow: hidden;
    position: absolute;
    top: 718px;
    width: 184px;
  }
  
  .desktop .text-wrapper-12 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 5px;
    width: 185px;
  }
  
  .desktop .frame-8 {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 26px;
    left: 55px;
    position: absolute;
    top: 459px;
    width: 515px;
  }
  
  .desktop .text-wrapper-13 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 392px;
  }
  
  .desktop .image-7 {
    height: 37px;
    object-fit: cover;
    position: relative;
    width: 37px;
  }
  
  .desktop .ZOMI-is-the-utility {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 470px;
  }
  
  .desktop .text-wrapper-14 {
    color: #ababab;
    font-family: "Inter-Medium", Helvetica;
    font-size: 27px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 515px;
  }
  
  .desktop .group-3 {
    height: 400px;
    left: 0;
    position: absolute;
    top: 0;
    width: 876px;
  }
  
  .desktop .overlap-4 {
    height: 400px;
    position: relative;
    width: 868px;
  }
  
  .desktop .text {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 429px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 221px;
    width: 439px;
  }
  
  .desktop .ellipse-5 {
    border: 5px solid;
    border-color: #000000;
    border-radius: 116px/125.75px;
    height: 251px;
    left: 417px;
    position: absolute;
    top: 78px;
    width: 232px;
  }
  
  .desktop .group-4 {
    border: 1px solid;
    border-color: #8b8b8b;
    border-radius: 7px;
    height: 382px;
    left: 0;
    position: absolute;
    top: 0;
    width: 677px;
  }
  
  .desktop .line-3 {
    height: 1px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 81px;
    width: 370px;
  }
  
  .desktop .image-8 {
    height: 67px;
    left: 19px;
    object-fit: cover;
    position: absolute;
    top: 4px;
    width: 59px;
  }
  
  .desktop .ZOMI-ZOMI {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 122px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 16px;
    width: 89px;
  }
  
  .desktop .price-supply-total {
    color: #acacac;
    font-family: "Inter-Medium", Helvetica;
    font-size: 23px;
    font-weight: 500;
    left: 42px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 127px;
    width: 138px;
  }
  
  .desktop .element-ZOMI {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 23px;
    font-weight: 500;
    left: 224px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 96px;
    width: 155px;
  }
  
  .desktop .group-5 {
    height: 429px;
    left: 691px;
    position: absolute;
    top: 3px;
    width: 870px;
  }
  
  .desktop .overlap-5 {
    height: 429px;
    position: relative;
    width: 874px;
  }
  
  .desktop .image-9 {
    height: 58px;
    left: 31px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 58px;
  }
  
  .desktop .group-6 {
    height: 429px;
    left: 0;
    position: absolute;
    top: 0;
    width: 874px;
  }
  
  .desktop .overlap-group-2 {
    height: 429px;
    position: relative;
    width: 868px;
  }
  
  .desktop .text-2 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 429px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 204px;
    width: 439px;
  }
  
  .desktop .ellipse-6 {
    border: 5px solid;
    border-color: #000000;
    border-radius: 116px;
    height: 232px;
    left: 417px;
    position: absolute;
    top: 72px;
    width: 232px;
  }
  
  .desktop .line-wrapper {
    border: 1px solid;
    border-color: #8b8b8b;
    border-radius: 7px;
    height: 383px;
    left: 0;
    position: absolute;
    top: 0;
    width: 677px;
  }
  
  .desktop .price-supply-total-2 {
    color: #acacac;
    font-family: "Inter-Medium", Helvetica;
    font-size: 23px;
    font-weight: 500;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 93px;
    width: 192px;
  }
  
  .desktop .element-ZLP {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 23px;
    font-weight: 500;
    left: 279px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 94px;
    width: 155px;
  }
  
  .desktop .ZLP-ZLP {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    left: 101px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 12px;
    width: 67px;
  }
  
  .desktop .frame-9 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 2px 26px;
    left: 110px;
    position: absolute;
    top: 168px;
    width: 581px;
  }
  
  .desktop .text-wrapper-15 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 140px;
  }
  
  .desktop .image-10 {
    height: 35px;
    object-fit: cover;
    position: relative;
    width: 35px;
  }
  
  .desktop .p {
    color: #acacac;
    font-family: "Inter-Regular", Helvetica;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 581px;
  }
  
  .desktop .group-7 {
    height: 381px;
    left: 99px;
    position: absolute;
    top: 386px;
    width: 592px;
  }
  
  .desktop .overlap-6 {
    height: 381px;
    position: relative;
    width: 586px;
  }
  
  .desktop .rectangle-3 {
    border: 1px solid;
    border-color: #8b8b8b;
    border-radius: 7px;
    height: 370px;
    left: 0;
    position: absolute;
    top: 0;
    width: 585px;
  }
  
  .desktop .line-4 {
    height: 1px;
    left: 1px;
    object-fit: cover;
    position: absolute;
    top: 79px;
    width: 585px;
  }
  
  .desktop .text-wrapper-16 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 22px;
    width: 197px;
  }
  
  .desktop .AUM-ZLP-pool {
    color: #acacac;
    font-family: "Inter-Medium", Helvetica;
    font-size: 23px;
    font-weight: 500;
    left: 26px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 72px;
    width: 193px;
  }
  
  .desktop .element {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 23px;
    font-weight: 500;
    left: 476px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 72px;
    width: 75px;
  }
  
  .desktop .overlap-7 {
    height: 370px;
    left: 766px;
    position: absolute;
    top: 386px;
    width: 590px;
  }
  
  .desktop .group-8 {
    height: 370px;
    left: 0;
    position: absolute;
    top: 0;
    width: 590px;
  }
  
  .desktop .overlap-8 {
    height: 370px;
    position: relative;
    width: 586px;
  }
  
  .desktop .total-fees-total {
    color: #acacac;
    font-family: "Inter-Medium", Helvetica;
    font-size: 23px;
    font-weight: 500;
    left: 18px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 94px;
    width: 193px;
  }
  
  .desktop .element-2 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 23px;
    font-weight: 500;
    left: 444px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 93px;
  }
  
  .desktop .text-3 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 36px;
    font-weight: 500;
    left: 756px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 619px;
  }
  
  .desktop .frame-10 {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: -8px 8px;
    left: 75px;
    position: absolute;
    top: 804px;
    width: 460px;
  }
  
  .desktop .text-wrapper-17 {
    color: #ffffff;
    font-family: "Inter-Medium", Helvetica;
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: 190px;
  }
  
  .desktop .image-11 {
    height: 35px;
    margin-left: -8px;
    object-fit: cover;
    position: relative;
    width: 35px;
  }
  
  .desktop .text-wrapper-18 {
    color: #acacac;
    font-family: "Inter-Regular", Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-left: -8px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
  }
  